@import "tokyonight.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  min-height: 16px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: @fg;
  border-radius: 10px;
  border-width: 0px;
}

tooltip {
  background: @bg;
  color: @fg;
  border-radius: 10px;
  border-width: 0px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @fg;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
}

#tray menu separator {
  min-height: 10px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#idle_inhibitor,
#language,
#memory,
#mpris,
#network,
#pulseaudio,
#taskbar,
#tray,
#window,
#workspaces,
#wireplumber,
#cava {
  color: @fg;
  background: @bg;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces,
#taskbar {
  padding: 0px;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @bg;
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}
