#window {
    background-color: rgba(0.4, 0.4, 0.4, 0.9);
    border: 1px solid rgba(64, 128, 255, 0.5);
    margin-right: 200px;
    color: white; /* Make text white */
}

#input {
    color: white; /* Make text white */
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 20px;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(0.7, 0.7, 0.7, 0.9);
}

#input:focus {
    color: white; /* Keep text white on focus */
    border: 1px solid rgba(64, 128, 255, 1);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(0.5, 0.5, 0.5, 0.9);
}

#entry {
    font-family: JetBrainsMono;
    color: white; /* Make text white */
    border-radius: 20px;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

#entry:focus {
    background: rgba(64, 128, 255, 0.9);
    border: 1px solid rgba(64, 128, 255, 1);
    color: white; /* Keep text white on focus */
}
